
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');


h1, h2, h3, h4 {
    font-family: Plus Jakarta Sans;
    line-height: 1.3;
    text-transform: uppercase;
}

h1 {
    font-weight: 600;
    font-size: clamp(2rem, 0.438rem + 4.17vw, 3.875rem);
    // font-size: clamp(1.5rem, 0.052rem + 4.63vw, 3.875rem);
}
h2 {
    font-weight: 800;
    font-size: clamp(1.5rem, 1.043rem + 1.46vw, 2.25rem);
}

h3 {
    font-weight: 800;
    font-size: clamp(1.125rem, 1.011rem + 0.37vw, 1.313rem);
}

h4 {
    font-weight: 600;
}

p {
    font-family: 'Montserrat';
    font-size: 18px;
    line-height: 1.5;
}