
//colors
:root {
    --color-primary-1: #734DCD;
    --color-primary-2: #9674E8;
    --color-bg: #FAFAFA;
    --color-light-text: #191924;
    --color-dark-text: #434343;
    --color-main-black: #1D1C1C;
    --color-white: #fff;
}
